.box {
    background-color: lightblue;
    padding: 20px;
}

body{
    background-image: url("images/nature.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}