.card {
/* 5px   → Move right
5px   → Move down
10px  → Blur
gray  → Shadow color */
    box-shadow: 5px 5px 10px gray;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}

.card2 {
    width: 200px;
    padding: 20px;
    border: 1px solid black;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-shadow: 2px 2px 4px gray;
}

.card3 {
    box-shadow:
    0 2px 5px gray,
    0 4px 10px lightgray;
}
