.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card {
    width: 150px;
    height: 100px;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}